@{
    Layout = "~/_sitelayout.cshtml";
    Page.Title = "About";
}

<h2>about</h2>
<p style="width: 500px;">
    Prickly Pear is a budget management web application desgined and create by PRO.
    The application promotes the saving of money towards actual goals, by representing them through gorgeous succulents.<br />
    Users log not just the money they have set aside for their goals, but also any purchases abstained from.
    Thus, opportunity cost also is taken into account towards progress forward. <br />
    Join today! <br /> <br />

    If you have any questions or issues, please contact: <a href="mailto:pricklypear.bypro@gmail.com" target="_top">pricklypear.bypro@gmail.com</a>
</p>